*:focus,
*:active,
*:visited,
*:focus {
    outline: none !important;
    box-shadow: none !important;
}

.input-group .form-control {
    border-right: 0px !important;
}
.input-group .btn {
    border: 1px solid #ced4da;
    border-left: 0px !important;
}
.input-group .btn:hover {
    color: var(--bs-primary);
}

.input-group .form-control:focus {
    border-color: var(--bs-primary);
}
.input-group .form-control:focus ~ button {
    border-color: var(--bs-primary);
}

.user-select-none {
    user-select: none !important;
}

.pager {
    width: 150px;
    font-size: calc(1.275rem + 0.3vw);
}
/* .pager::-webkit-inner-spin-button {
    opacity: 1;
} */

/* Chrome, Safari, Edge, Opera */
.pager::-webkit-outer-spin-button,
.pager::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.pager {
    -moz-appearance: textfield;
}

.isloading {
    opacity: 0.2;
}

.image-thumb {
    max-height: 200px;
    max-width: 200px;
}

small {
    font-size: 70%;
}

.cursor-pointer {
    cursor: pointer;
}

.paging-btn {
    font-size: 40px;
}

.paging-btn:disabled {
    color: silver !important;
}
.paging-btn:disabled:hover {
    background: white !important;
}
.paging-btn:hover {
    background: white !important;
    color: black;
}

.paging-inp {
    border: 0 !important;
    box-shadow: inset 5;
}
.paging-inp:focus,
.paging-inp:active {
    border: 1px solid silver !important;
    background: #f9f9f9;
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

/*============= SPINNER ===========*/

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: var(--bs-primary);
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
